.thumb {
    max-height: 2.4rem;
    width: auto;
}

.scrollable {
    overflow-y: scroll;
}

#playlistListing .dropdown-menu {
    max-width: 75vw;
    max-height: 75vh;
}

.addToPlaylistMenu .dropdown-menu {
    max-width: 50vw;
    max-height: 50vh;
}

.addToPlaylistMenu .dropdown-menu a button {
    display: block;
}

.clickable {
    cursor: pointer;
}

.trackArtist + .trackArtist:before {
    content: ", ";
}

#trackListing {
    height: 70vh;
    overflow-y: scroll;
    display: block;
}

#actionListing {
    height: 20vh;
}
