.thumb {
    max-height: 2.4rem;
    width: auto;
}

.scrollable {
    height: 50vh;
    overflow-y: scroll;
}

.addToPlaylistMenu .dropdown-menu {
    width: 33vw;
}

.addToPlaylistMenu .dropdown-menu a button {
    display: block;
}

.clickable {
    cursor: pointer;
}